/grail/data/
/grail/data/val_triples.txt
/grail/data/val.sdf
/grail/data/USPTO_FULL.csv
/grail/data/uspto_extr.txt
/grail/data/train_triples.txt
/grail/data/train.sdf
/grail/data/test_triples.txt
/grail/data/test.sdf
/grail/data/smirks.txt
/grail/data/raw_val.csv
/grail/data/raw_train.csv
/grail/data/raw_test.csv
/grail/data/mol.svg
